.topContainer {
  background-color: #e6ffff;
  position: relative;
  padding-top: 100px;
}

h1 {

  font-size: 5.625rem;
  margin-top: 50px;
  margin-bottom: 0px;
  color: #66BFBF;
  font-family: 'Sacramento', cursive;
}

h2 {
  font-weight: normal;
  margin-top: 20px;
  font-size: 2.5rem;
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif
}

body {
  background-color: #e6ffff;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

a {
  color: #11999E;
}

.bottom-cloud {
  position: absolute;
  left: 500px;
  bottom: 325px;
}

.top-cloud {
  position: absolute;
  right: 500px;
  top: 50px;
}

.web {
  /* looks dumb */
  //  text-decoration-line: underline;
  //  text-decoration-color: blue;
  //  text-decoration-style: solid;
}

.jax-img
/* only wrap text dont use this for positioning i guess its bad */{
  float: right;
  margin-left: 30px;
  width: 25%;
  border-radius: 50%;
}

.zola-img {
  float: left;
  margin-right: 30px;
  width: 25%;
  border-radius: 100%;
}

.taylor-img {

  border-radius: 50%;
  width: 10%;
}

.middle-container {
  text-align: center;
}
p{
  line-height: 2;
}
.skill-row {
  padding-right: 30px;
  margin: 100px auto 100px auto;
  width: 50%;
  text-align: left;

}
.profile{

  margin-top: 150px;

}

.hr-dotted{
  margin: 100px auto 100px auto;
  border-color: #D2D2D2;
  border-style : none;
  border-top-style: dotted;
  border-width: 10px;
  width: 5%;
}

.btn {
  /* button generator website */
  background: #66BFBF;
  background-image: -webkit-linear-gradient(top, #66BFBF, #69bfbf);
  background-image: -moz-linear-gradient(top, #66BFBF, #69bfbf);
  background-image: -ms-linear-gradient(top, #66BFBF, #69bfbf);
  background-image: -o-linear-gradient(top, #66BFBF, #69bfbf);
  background-image: linear-gradient(to bottom, #66BFBF, #69bfbf);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  text-shadow: 2px 2px 5px #000000;
  font-family: 'Merriweather', sans-serif;
  color: #ffffff;
  font-size: 28px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  /* button generator website */
  background: #9cffff;
  background-image: -webkit-linear-gradient(top, #9cffff, #7fe8e8);
  background-image: -moz-linear-gradient(top, #9cffff, #7fe8e8);
  background-image: -ms-linear-gradient(top, #9cffff, #7fe8e8);
  background-image: -o-linear-gradient(top, #9cffff, #7fe8e8);
  background-image: linear-gradient(to bottom, #9cffff, #7fe8e8);
  text-decoration: none;
}
.a-btn{
  margin-top: 75px;
}

.intro{
  width: 30%;
  margin: auto;
}

.bottom-container{
  height: 200px;
  width: 100%;
  text-decoration-color: #11999E;
  margin-top: 75px;
  background-color: #66BFBF;


}
.footer{

  margin-top: 50px;
  padding: 50px;
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif

}
.footer-link{
  padding: 50px;
}
.copyright{
  color: #EAF6F6;
  font-size: 1.25em;
  font-family: 'Sacramento', cursive;

}
a{

  text-decoration: none;
}
a:hover{
  color: #9cffff;

  text-decoration: none;
}
